body{
  background-color: lemonchiffon !important;
  box-sizing: border-box;
}

.renMoney__background{
  width: 100% !important;
}

.imgl{
  width: 110%;
}

/* Navbar */
.navbar{
  background-color: aqua;
  /* position: fixed; */
  z-index: 1;

}

.navbar-nav{
  display: flex;
  flex-direction: row-reverse;
}

.navbar-nav li{
  margin-left: 2em;
}

.nav-link{
font-size: 18px;
color: #F05822;
}

.navbar-brand{
  transition: transform 0.3s ease-out;
}

/* Carousel */
.carousel-inner{
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-control{
  margin-top: 15%;
}

.caption{
  padding: 9%;
}

.sideInfo{
  font-size: 250%;
}

@media (max-width: 768px) {

  .slide{
    margin-top: 30%;
  }
  
  .caption{
    padding: 6%;
    font-size: 220%;
  }
  
  .carousel-control{
    margin-bottom: 9%;
  }

  .side{
    top: auto;
    right: auto;
  }

  .sideContain{
    margin-top: 20px !important;
    margin-left: 40px !important;
  }

}

@media (min-width: 769px) {
  .sideContain2{
    display: none;
  }
}



/* Calculator */
.calculator{
  background-color: lemonchiffon;
  margin-left: 2%;
}